<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.author.name}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <br></br>
  <a href="https://github.com/tocttou/hacker-blog">
    <span>
        <b>Jekyll theme from tocttou/hacker-blog</b>
    </span>
  </a>
</footer>
